$color-grey-blue-dark: rgb(24, 25, 38);
$color-yellow-light: rgb(235, 221, 159);
$color-yellow-dark: #E2C43F;


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



html {
    // This define what 1rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    background-color: $color-grey-blue-dark;
    padding: 2rem;
    height: 100vh;
    text-align: center;
    color: #fff;
    overflow: hidden;
}



.plateau img {
    width: 100%;

    &.weapon {
        width: 80%;
        margin: auto;
    }
}



h2 {
    padding: 2rem 0;
}

.container {
    display: flex;
    justify-content: space-around;
    height: 100%;

    .joueur-1-log { 
      margin-right: 2rem;
    }

    .plateau {
      
      position: relative;
      width: 90vh;
        height: 90vh;
        max-height: 58vw;
      & .carte {
        width: 100%; 
        height: 100%; 
        background-color: $color-yellow-dark;
        display: grid;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(10, minmax(10%, 10%));
        position: relative;

        .case {
            border: 1px solid grey;
            display: grid;
            align-content: center;
            align-items: center;
            position: relative;
            padding: 2px;

            &.joueur-actif {
                border: 2px solid black;
            }

            &.choix-possible {
                background-color: $color-yellow-light;
                position: relative;

                &:hover {
                    background-color: grey;
                }
            }
            }
        
        
    }
  }
    
    .joueur-2-log {
      margin-left: 2rem;
        & .perso__wrapper{
          transform: scaleX(-1);
        }
    }

}



.perso__wrapper {
  overflow: hidden;
  position: relative;

  margin: auto;
  width: 300px;
  height: 300px;
  position: relative;
  

  & .perso {
  width: 1600%;
  height: 200%;
  background-image: url('/img/orc-1--weapon-3-attaque.png');
  background-size: 100%, 100%;
  background-repeat: no-repeat;

  &.attaque {
    animation-name: animation-2-lignes;
    animation-duration: 2s;
    animation-timing-function: steps(15);
  }

  &.degats {
    animation-name: animation-2-lignes;
    animation-duration: 2s;
    animation-timing-function: steps(15);
  }

  &.defense {
    animation-name: animation-2-lignes;
    animation-duration: 2s;
    animation-timing-function: steps(15);
    transform: translate(-93.75%, -50%  );  
  }

  &.gagne {
    height: 300%;
    background-image: url('/img/orc-1--gagne.png');

    animation-name: animation-3-lignes;
    animation-duration: 3s;
    animation-timing-function: steps(15);
    transform: translate(-93.75%, -66.66666666%  ); 
  }

  &.mort {
    animation-name: animation-2-lignes;
    animation-duration: 2s;
    animation-timing-function: steps(15);
    transform: translate(-93.75%, -50%  );  
  }

  position: absolute;
  left: 0;
  top: 0;

  
}


}

@media screen and (max-width:1200px){
  .perso__wrapper {
    width: 200px;
    height: 200px;
  }

  .joueur-1-log,
  .joueur-2-log {
    width: 250px;
  }
}

@media screen and (max-width:1045px){
  .perso__wrapper {
    width: 100px;
    height: 100px;
  }

  .joueur-1-log,
  .joueur-2-log {
    width: 125px;
  }
}
@media screen and (max-width:600px){
  .perso__wrapper {
    width: 50px;
    height: 50px;
  }

  .joueur-1-log,
  .joueur-2-log {
    width: 75px;
  }
}

@keyframes animation-2-lignes {
  0% {
    transform: translate(0, 0); 
  }

  50% {
    transform: translate(-93.75%, 0); 
  }

  50.001% {
    transform: translate(0, -50%); 
  }

  100% {
    transform: translate(-93.75%, -50% ); 
  }
}

@keyframes animation-3-lignes {
  0% {
    transform: translateX(0); 
  }

  33.333% {
    transform: translateX(-93.75%); 
  }

  33.334% {
    transform: translate(0, -33.33333333%); 
  }

  66.666% {
    transform: translate(-93.75%, -33.33333333%  ); 
  }

  66.667% {
    transform: translate(0, -66.66666666%); 
  }

  100% {
    transform: translate(-93.75%, -66.66666666%  ); 
  }
}


.bloc-perso {
    width: 100%;
    max-height: 100vh;

    
}

.direction-gauche {
  & img {
   transform: scaleX(-1);
  }
}

.pv-bar {
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

progress{
  transition: all 4s;
}

progress[value] {
    appearance: none;
    border: none;
    width: 70%; height: 1rem;
    vertical-align: -1rem;

    background-color: whiteSmoke;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
    color: royalblue;
    
    position: relative;
    
}

.combat {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.joueur-1-log .pv-bar {
  -webkit-flex-direction: row-reverse; 
  flex-direction: row-reverse;
}


.combat {
  & .attaque {
    background-image: url('/img/300w/weapon-1.png');
    background-size: 50%;
  }

  & .defense {
    background-image: url('/img/300w/bouclier.png');
    background-size: 35%;
  }

  & .attaque,
  & .defense {
    
    background-repeat: no-repeat;
    background-position: 50% 75%;
    color: #000;

      width: 6rem;
      height: 6rem;
      padding: .5rem;
      background-color: $color-yellow-light;
      border-radius: 5px 5px 50% 50%;
      box-shadow: 3px 3px 7px $color-yellow-dark;
  
      &:hover {
          background-color: $color-yellow-dark;
      }
  
      &:active {
          background-color: $color-yellow-dark;
          transform: translateY(2px);
          box-shadow: 2px 2px 4px $color-yellow-dark;
      }
      
  
  }
}



.fin-jeu {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 1000;
    background-color: rgba(24, 25, 38, .7);
    padding-top: 10rem;
    font-size: 3rem;
    opacity: 0;
    transform: rotate(0deg);
}

.reload {
  position: absolute;
  top:75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1100;
  &__btn {

    background-color: $color-grey-blue-dark;
    color: $color-yellow-light;
    font-size: 2rem;
    padding: 1rem 3rem;
    border-radius: 100px;
  }
}


progress::-webkit-progress-bar {
    background-color: red;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

progress::-webkit-progress-value {
    position: relative;
    transition: width 1.5s;
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius: 10px;
    
}

progress[value]::-webkit-progress-value:after {
    content: '';
    position: absolute;
    
    width:5px; height:5px;
    top:7px; right:7px;
    
    background-color: red;
    border-radius: 100%;
}

progress[value]::-moz-progress-bar {
    background-image:
    -moz-linear-gradient( 135deg,
      transparent,
      transparent 33%,
      rgba(0,0,0,.1) 33%,
      rgba(0,0,0,.1) 66%,
      transparent 66%),
    -moz-linear-gradient( top,
      rgba(255, 255, 255, .25),
      rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #09c, #f44);
    
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;
}

.pv::-webkit-progress-value  {
    background-color: green;
}

.hidden {
    display: none;
}

  .chargement {

        display: none;
      &.chargement-en-cours {
        display: flex;
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: $color-grey-blue-dark;
        justify-content: center;
        align-items: center;
        z-index: 9999;

       & img {
           width: 20vh;
           height: 20vh;
       }  
      }
  }

  @media screen and (max-width: 900px) {
    html {
      font-size: 50%;
    }
  }
  @media screen and (max-width: 600px) {
    html {
      font-size: 42%;
    }
  }